@media only screen and (max-width: 600px) {
	#header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}
	#t { 
		font-size: 13px;
		padding-right: 0px;
	}
	#t1 {
		font-size: 13px;
		padding-right: 0px;
	}
	#l1 {
		height: 15px;
		padding-right: 1px;
	}
	#l2 {
		height: 15px;
		padding-left: 7px;
		padding-right: 0px;
}
	#tel {
		margin-left: 2px;
		display: inline;
	}
	#fb {
		height: 18px;
	}
	#tw {
		height: 18px;
	}
	#yo {
		height: 18px;
	}
	#logo {
		margin-right: 2px;
}

	#title {
		margin-left: 0px;
		height: 100px;
	}
	#shlogo {
		padding-bottom: 5px;
		margin-bottom: 5px;
		height: 100px;
	}
	#titlet {
		margin-right: 0px;
		font-size: 35px;
		padding-top: 10px;
		padding-right: 0px;
		letter-spacing: 0px;
	}
	#menyimg {
		display: block;
		padding: 40px;
		padding-left: 90px;
		filter: grayscale(100%);
	}
	#a {
		display: none;
	}
	#a1 {
		display: none;
	}
	#a2 {
		display: none;
	}
	#a3 {
		display: none;
	}
	#a4 {
		display: none;
	}

	#rezervobox {
	position: relative;
	margin-bottom: 0px;
	padding-bottom: 0px;
	height: 480px;
	}

	#rezervo {
		display: inline-block;
		position: absolute;
		top: 55px;
	  bottom: 0px;
	  left: 60px;
	  background-color: black;
	  opacity: 65%;
	  color: white;
	  padding-left: 10px;
	  padding-right: 10px;
	  padding-bottom: 5px;
	}
	#fild {
	font-size: 15px;
	margin-left: 80px;
	}
	fieldset {
/*		text-align: center;*/
		height: 80px;
	}
	li {
		justify-content: center;
		margin-left: 40px;
	}
	h4 {
		margin-right: 10px;
		margin-left: 20px;
		display: inline-block;
		justify-content: center;
		line-height: 0px;
	}
	#pref {
		margin-left: 40px;
	}
	#datar {
		margin-left: 30px;
	}
/*	#buton {
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 20px;
		font-size: 16px;
		margin-left: 85px; 
		background-color: #0780D5;
		color: white;
	}*/
	#emri {
		display: none;
	}
	#mbiemri {
		display: none;
	}
	#emrii {
		margin-left: 55px;
	}
	#mbiemrii {
		margin-left: 55px;
	}
	.backgroundimg {
		height: 480px;
	}
}

@media only screen and (max-width: 1200px) {

#meny {
	width: 400px;
	margin-right: 5px;
}
#titlet {
	margin-right: 0px;
}
#title {
	margin-right: 5px;
}

}